.nav {
  writing-mode: vertical-rl;
  transform: scale(-1);
  height: 100%;
  display: flex;
  justify-content: space-around;

  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 2vh;
  background-color: #cc7722;
  padding: 1vh;
  border: 1px solid black;
  max-width: 6vh;
  align-items: center;
}

.navLink:hover {
  border-left: 2px solid black;
  border-bottom: none;
}
